.taskContainer {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.taskTextWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteTaskBtn {
  border: none;
  outline: transparent;
  background-color: transparent;
  transition: scale var(--primary-transition);
}

.deleteTaskBtn:hover,
.deleteTaskBtn:focus {
  transform: scale(1.1);
}
